[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mwoauth = "*"
requests = "*"
mysql-connector = "*"
Flask = "*"
PyYAML = "*"
LexData = "*"
Flask-MySQLdb = "*"

[dev-packages]

[requires]
python_version = "3.8"
